/DevExpress/QLBV_DEV/bin/*
/DevExpress/QLBV_DEV/obj/*
/sources/QuanLyBenhVien/bin/*
/node_modules
/.docker
/public/hot
/public/storage
/public/frontend
/public/backend
/public/temp
/public/docs
/public/css
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
docker-compose.yml

*.bat

#idea
/.idea
/*.iml

/storage/app/invoices/
/storage/app/yamato_upload/
.DS_Store
